@font-face {
    font-family: "icone";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/fontawesome-webfont.woff) format("woff");
}

@font-face {
    font-family: "Doppio One";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/DoppioOne-Regular.woff) format("woff");
}

@font-face {
    font-family: "Della Respira";
    font-weight: normal;
    font-style: normal;
    src: url(./../fonts/DellaRepira-Regular.woff) format("woff");
}

p {
	padding: 2px;
	margin: 2px;
}
.folha * {
	font-size:20px;
}

header {
	display: block;
}

.colunas {
	border: 1px black solid;
	-moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
     
    -moz-column-gap:120px; 
    -webkit-column-gap:120px;
    column-gap:120px;
     
    -moz-column-rule:3px outset #708090; 
    -webkit-column-rule:3px outset #708090;
    column-rule:3px outset #708090;
     
    -moz-column-width: 50px;
    -webkit-column-width: 50px;
    column-width: 50px;
}

.folha {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	background-color: #F5F5DC;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.center {
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

.preencher {
	width: 100%;
}

.titulo {
	font-size: 40px;
	text-shadow: 2px 2px 5px #778899;
	font-family: "Doppio One", sans-serif;
}

.negrito {
	font-size: x-large;
	font-variant: small-caps;
	font-weight:bold;
	text-shadow: 2px 2px 5px #778899;
	font-family: "Della Respira", serif;
}

section > header > .negrito::before {
	content: "\f046";
    font-family: "icone";
    margin-right: 10px;
}

.divisoria {
	background: #999999;
	height: 4px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.foto {
	float: right;
	margin-right: 20px;
	-webkit-box-shadow: 3px 3px 5px #808080;
	-moz-box-shadow: 3px 3px 5px #808080;
	box-shadow: 3px 3px 5px #808080;
}

.foto img { 
	width: 120px;
	height: 150px;
	display: block;
}

#atividades {
	padding-left: 40px;
}

.obrigatorio {
	color: red;
}

.campos-form input {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.campos-form textarea {
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.campos-form label {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-container {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.form-actions {
	border-top: 2px solid #e5e5e5;
	margin-top: 20px;
	margin-bottom: 15px
}

.form-actions input {
	margin-top: 5px;
}

.bandeira {
	border: 1px solid black;
	margin-right: auto;
	margin-bottom: auto;
	width: 90%;
}

.esquerda {
	float: left;
	border: 1px solid black;
}

.direita {
	float: right;
	border: 1px solid black;
}

/* Media Queries*/
@media all and (max-width: 600px) {
    .folha {
		width: 80%;
	}

	.foto {
		float: right;
		margin-right: 20px;
		-webkit-box-shadow: 3px 3px 5px #808080;
		-moz-box-shadow: 3px 3px 5px #808080;
		box-shadow: 3px 3px 5px #808080;
		display: block;
	}

	.foto img { 
		width: 90px;
		height: 120px;
		display: block;
	}

	.titulo {
		font-size: 35px;
		text-shadow: 2px 2px 5px #778899;
		font-family: "Doppio One", sans-serif;
	}

	.colunas {
		border: 1px black solid;
		-moz-column-count:2;
	    -webkit-column-count:2;
	    column-count:2;
	     
	    -moz-column-gap: 1px; 
	    -webkit-column-gap:1px;
	    column-gap:1px;
	     
	    -moz-column-rule: 3px outset #708090; 
	    -webkit-column-rule: 3px outset #708090;
	    column-rule: 3px outset #708090;
	     
	    -moz-column-width: 70px;
	    -webkit-column-width: 70px;
	    column-width: 70px;
	}

	.inline li {
		display: inline-block;
	}

	.inline li::before {
		content: "\f111";
    	font-family: "icone";
    	margin-right: 5px;
	}

	audio {
		width: 95%;
	}

	video {
		width: 95%;
		-webkit-box-shadow: 3px 3px 5px #808080;
		-moz-box-shadow: 3px 3px 5px #808080;
		box-shadow: 3px 3px 5px #808080;
	}
}

@media all and (min-width: 601px) and (max-width: 960px) {
    .folha {
		width: 90%;
	}

	.foto {
		float: right;
		margin-right: 20px;
		-webkit-box-shadow: 3px 3px 5px #808080;
		-moz-box-shadow: 3px 3px 5px #808080;
		box-shadow: 3px 3px 5px #808080;
		display: block;
	}

	.foto img { 
		width: 140px;
		height: 160px;
		display: block;
	}

	.titulo {
		font-size: 35px;
		text-shadow: 2px 2px 5px #778899;
		font-family: "Doppio One", sans-serif;
	}

	.colunas {
		border: 1px black solid;
		-moz-column-count:2;
	    -webkit-column-count:2;
	    column-count:2;
	     
	    -moz-column-gap: 1px; 
	    -webkit-column-gap:1px;
	    column-gap:1px;
	     
	    -moz-column-rule: 3px outset #708090; 
	    -webkit-column-rule: 3px outset #708090;
	    column-rule: 3px outset #708090;
	     
	    -moz-column-width: 70px;
	    -webkit-column-width: 70px;
	    column-width: 70px;
	}

	li {
		list-style: none;
	}

	li:before {
		content: "\f00c";
    	font-family: "icone";
    	margin-right: 5px;
	}

	#atividades header:before {
		content: "\f061";
    	font-family: "icone";
    	margin-right: 10px;
	}

	audio {
		width: 95%;
	}

	video {
		width: 640px;
		height: 480px;
		border: 2px solid black;
		-webkit-box-shadow: 3px 3px 5px #808080;
		-moz-box-shadow: 3px 3px 5px #808080;
		box-shadow: 3px 3px 5px #808080;
	}
}

@media all and (min-width: 961px) {
	.folha {
		border-radius: 20px;
	}
}