<section id="content" data-ng-init="init()">
    <div class="pull-left actions input-group filter-field">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        <input type="text" class="form-control input-lg" ng-model="searchStr">
    </div>

    <div class="pull-right actions">
        <button class="btn btn-primary btn-lg" ng-click="prepararAdd()"><i class="fa fa-plus-circle"></i> Adicionar Protocolo</button>
    </div>

    <div id="table" class="bs-loading-container" bs-loading-overlay>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Descrição do Protocolo</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Data do Evento</th>
                    <th class="text-center">Status</th>
                    <th class="command text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="protocols.length">
                    <td colspan="5" class="text-center">Nenhum Protocolo Cadastrado!!</td>
                </tr>
                <tr ng-repeat="protocol in protocols | filter:searchStr">
                    <td>{{ protocol.desc }}</td>
                    <td>{{ protocol.type }}</td>
                    <td>{{ protocol.eventDate }}</td>
                    <td>{{ protocol.status }}</td>
                    <td>
                        <a class="btn btn-warning" ng-click="prepararEdicao($index)">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-danger" ng-click="prepararDelecao($index)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
