<!DOCTYPE html>
<html ng-app="protocolApp">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Élysson MR & João Marco" />
        <meta name="description" content="Trabalho da materia de Tecnologias Client-Side">
        
        <link rel="shortcut icon" href="img/icon.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="css/bootstrap-select.min.css">
        <title>JSProtocols - Cadastro</title>
    </head>
    <body>
        <section class="container" ng-controller="protocolController" data-ng-init="init()">
            <section id="header">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html"><i class="fa fa-list-alt"></i> JSProtocols</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="protocol_crud.html"><i class="fa fa-plus-square-o"></i> Cadastro de Protocolos</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown" data-toggle="dropdown" href="#"><i class="fa fa-info-circle"></i> Relatórios<b class="caret"></b>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-gamepad"></i> Relatório1</a></li>
                                        <li><a href="#"><i class="fa fa-cogs"></i> Relatório2</a></li>
                                        <li><a href="#"><i class="fa fa-desktop"></i> Relatório3</a></li>
                                        <li><a href="#"><i class="fa fa-flag"></i> Relatório4</a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i> Relatório5</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="divider-vertical"></li>
                                <li><a href="https://github.com/elyssonmr/JSForms"><i class="fa fa-github "></i> JSProtocols</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </section>

            <section id="content">
                <div class="pull-left actions input-group filter-field">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>    
                    <input type="text" class="form-control input-lg" ng-model="searchStr">                    
                </div>

                <div class="pull-right actions">
                    <button class="btn btn-primary btn-lg" ng-click="showModal('add')"><i class="fa fa-plus-circle"></i> Adicionar Protocolo</button>
                </div>                
                <!--Create/Update Form-->
                <div id="form">
                    <div class="modal fade" id="modalConfimation" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteRow(false)">&times;</button>
                                    <h4 class="modal-title" id="modalTitle">Confima a Exclusão?</h4>
                                </div>
                                <div class="modal-body">
                                    <h3>Deseja Realmente deletar esse Registro?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="deleteRow(false)">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="btnDelete" ng-click="deleteRow(true)">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <form action="" method="POST" ng-submit="addProtocol()">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="modalTitle">{{ title }}</h4>
                                    </div>
                                    <div class="modal-body">                                
                                        <div class="form-group">
                                            <label class="control-label" class="control-label" for="description">Descrição:</label>
                                            <input class="form-control" id="description" name="description" placeholder="Descrição" ng-model="desc" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" class="control-label" for="type">Tipo:</label>
                                            <select class="selectpicker" ng-model='type' show-tick>
                                                <option selected="selected">Documento</option>
                                                <option>Pasta</option>
                                                <option>Outros</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="eventDate">Data do Evento:</label>
                                            <div id="datepicker" class="input-append date">
                                                <div class="input-group">
                                                    <span class="input-group-addon add-on" ng-click="showCalendar()">
                                                        <i class="glyphicon glyphicon-calendar"></i> 
                                                    </span>
                                                    <input data-format="dd/MM/yyyy" type="text" placeholder="xx/xx/xxxx" class="form-control" id="eventDate" name="eventDate" ng-model="date"/>     
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="control-label" class="control-label" for="status">Status:</label>
                                            <select class="selectpicker" ng-model="status" show-tick>
                                                <option>Protocolado</option>
                                                <option>Com pendências</option>
                                                <option>Recusado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
                <div id="table">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Descrição do Protocolo</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Data do Evento</th>
                                <th class="text-center">Status</th>
                                <th class="command text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="protocols.length">
                                <td colspan="5" class="text-center">Nenhum Protocolo Cadastrado!!</td>
                            </tr>
                            <tr ng-repeat="protocol in protocols | filter:searchStr">
                                <td>{{ protocol.desc }}</td>
                                <td>{{ protocol.type }}</td>
                                <td>{{ protocol.eventDate }}</td>
                                <td>{{ protocol.status }}</td>
                                <td>
                                    <a class="btn btn-warning" href="#" ng-click="prepareEditRow($index)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger" ng-click="prepareDeleteRow($index)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="well well-small text-center">JSProtocols - Élysson Mendes Rezende & João Marco de Paula Santana</footer>
        </section>

        
        <script src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script src="js/protocolApp.js"></script>
        <script src="js/controller/ProtocolController.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-select.min.js"></script>
    </body>
</html>