<form method="POST" ng-submit="addProtocol()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelar()">&times;</button>
        <h4 class="modal-title" id="modalTitle">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" class="control-label" for="description">Descrição:</label>
            <input class="form-control" id="description" name="description" placeholder="Descrição" ng-model="desc" required>
        </div>
        <div class="form-group">
            <label class="control-label" class="control-label" for="type">Tipo:</label>
            <select class="form-control" ng-model="type" ng-options="type for type in typesList" required>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="eventDate">Data do Evento:</label>
            <div id="datepicker" class="input-append date">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="exibirCalendario()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <input type="text" readonly class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="eventDate" is-open="dtPicker.opened" datepicker-options="dtPicker.options" ng-required="true" close-text="Fechar" clear-text="Limpar" current-text="Hoje"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" class="control-label" for="status">Status:</label>
            <select class="form-control" ng-model="status" ng-options="status for status in statusList">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelar()">Cancelar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>
