<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title" id="modalTitle">Confima a Exclusão?</h4>
</div>
<div class="modal-body">
    <h3>Deseja Realmente deletar esse Registro?</h3>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="$close(index)">Confirmar</button>
</div>
